# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
pubspec.lock

# Build outputs
build/

# Android
android/.gradle/
android/.kotlin/
android/local.properties
android/app/debug/
android/app/profile/
android/app/release/
android/key.properties
*.jks

# iOS / macOS
ios/.symlinks/
ios/Flutter/ephemeral/
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Pods/
ios/.generated/
ios/ServiceDefinitions.json
ios/Runner/GeneratedPluginRegistrant.*
macos/Flutter/ephemeral/
macos/Flutter/GeneratedPluginRegistrant.swift

# Linux / Windows
linux/flutter/ephemeral/
windows/flutter/ephemeral/

# Web
lib/generated_plugin_registrant.dart

# IDE
.idea/
.vscode/
*.iml
*.ipr
*.iws
.DS_Store

# Env / secrets
.env
*.env
